@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TzBic3CsTKlA.woff2) format('woff2');
}

* {
    box-sizing: border-box;
}

.maincontainer {
    width: 100%;
    height: 100%;
    background: #FFF;
}

.block1 {
    background-color: #1F0404;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    font-size: 48px;
    margin: 0 auto;
    width: 61%;
    height: 24%;
    padding-bottom: 69px;

}

.block2 {
    background-color: #D9D9D9;
    margin: 0 auto;
    justify-content: center;
    font-size: 24px;
    width: 61%;
    height: 49%;
}

.H {
    font-family: 'Roboto';
    color: rgba(113, 170, 115, 0.70);
    text-align: center;
    margin-left: 68px;
    padding-bottom: 125px;
}

.E {
    font-family: 'Roboto';
    color: rgba(163, 72, 72, 0.60);
    text-align: center;
    margin-left: 68px;
}

.L {
    font-family: 'Roboto';
    color: #475587;
    margin-left: 68px;
}

.L2 {
    font-family: 'Roboto';
    color: #4B5E8D;
    margin-left: 68px;
}

.O {
    font-family: 'Roboto';
    color: rgba(178, 159, 109, 0.50);
    margin-left: 68px;
}

.W {
    font-family: 'Roboto';
    color: rgba(170, 144, 113, 0.40);
    margin-left: 68px;
}

.O2 {
    font-family: 'Roboto';
    color: rgba(112, 72, 163, 0.50);
    margin-left: 68px;
}

.R {
    font-family: 'Roboto';
    color: #874775;
    margin-left: 68px;

}

.L3 {
    font-family: 'Roboto';
    color: #8D4B63;
    margin-left: 68px;

}

.D {
    font-family: 'Roboto';
    color: rgba(109, 178, 162, 0.60);
    margin-left: 68px;

}

h2 {
    color: #4F4F4F;
    text-align: justify;
    text-shadow: 7px 7px 1px rgba(41, 36, 9, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    padding-right: 75px;
    padding-left: 75px;
    padding-top: 47px;
    padding-bottom: 47px;
}